:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

/* resets the default browers setings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on the crazy alphanumerical value in a munute!*/
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;  
    justify-content: space-between;
    flex: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999; /* This give the header a staking order so that it stays on top of the rest of the items on the page. */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5); /* add text-shadow*/
    }

  header a {
      text-decoration: none;
      color: var(--primary-color);
      padding: 9px;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      margin: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vwx;
      text-shadow: none;
  }

  
  
  /* Section Padding */
  section {
    padding: 60px;
  }
  /* Start Hero Style Section */
  .hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    }
  /* End Hero Stile Section */

  /* Strt Hero-Form Syle Section */
  .hero-form {
      border: 3px solid var(--secondary-color);
      background-color: rgba(252, 225, 56, .8);
      padding: 20px;
      color: var(--secondary-color);
      width: 40%;   
      margin: 3.5%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
  }

  .hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }

  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  section h3 {
    font-size: 24px;
    margin: 0px;
  }

  .hero-form p {
    margin: 5px 0 5px 0;
  }

  .form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(252, 225, 225, .75);

  }

  .form-input:focus {
    background-color: rgba(225,225,225,1);
    outline: none;
  }

  .hero-form label {
      margin: 0 5px;
  }

  /* Start Hero Button Style */
  .hero-form button {
      color: var(--primary-color);
      background-color: var(--secondary-color);
      border:none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 15px;   
  }

  .hero-form button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border:none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;   
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: -8px;
  margin: 9px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--secondary-color);  
  position: absolute;
  top: -4px;
  left: -23px;
}

.radio-wrapper label::before {
  border-radius: 50%;
}
.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -22px;
  top: -3px;
  background-image: radial-gradient(circle, var(--tertiary-color));
}
  
.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -20px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
  content: "";
}
  /* End Hero Button Style */

  /* Start What We Do Style */
  
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }

  /* End of What We Do Style */

  /* Start of What You Do Style*/
  .steps {
    background: var(--primary-color);
  }

   /* Start of Border font and color */
  .section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
  }
  /* Updating What We Do Bottom Border */
  .primary-border {
    border-color: var(--primary-color);
  }
  /* Updating What You Do Bottom Border */
  .secondary-border {
    
    border-color: var(--tertiary-color);
  }

  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .step-img {
    flex: 1 12%;
    margin-right: 20px;
  }

  .step-ing img {
    max-width: 100%;
  }

  .step-text {
    flex: 12;
  }

  .steps h3 {
    color: var(--secondary-color);
    font-size: 48px;
    flex: 1 30%;
  }

  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }

  .steps-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }

  .step:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
  }

  .trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .trainer {
    text-align: center;
    margin: 20px;
    flex:1;
    background: var(--secondary-color);
    color: var(--primary-color);
  }

  .trainer-img {
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
  }

  .trainer-img h3 {
    position: relative;
  }

  .trainer-img h4 {
    position: relative;
  }

  .trainer-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(252, 225, 56, 0.3);
    position: relative;
    top: 0;
    left: 0;
  }

  .trainer-1 {
    background-image: url("../images/trainer-1.jpg");
    background-size: 100% 300px;
  }

  .trainer-2 {
    background-image: url("../images/trainer-2.jpg");
    background-size: 100% 300px;
  }

  .trainer-3 {
    background-image: url("../images/trainer-3.jpg");
    background-size: 100% 300px;
  }

  .trainer-bio {
    padding: 25px;
    text-align: left;
  }
  
  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .trainer-bio h3 {
    font-size: 28px;
    line-height: 1.3;
  }

  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }

  .trainer-bio p {
    font-size: 17px;
  }

  /* Start of Service Grid Styles */
  
  .services {
    background: var(--primary-color);
  }

  .service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .service-grid-container {
    background: lightyellow;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 4fr);
    grid-template-rows: repeat(5, 1fr) 2fr;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
  }

  .service-grid-item {
    padding: 15px 0;
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

      /* Start of Services Posistioning */
    .service-grid-item.basic {
      grid-column: 2/ span 1;
    }

    .service-grid-item.both {
      grid-column: 2 / span 2;
    }

    .service-grid-item.cancel {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      grid-column: 1;
      grid-row: 1 / -1;
    }

    .grid-head, .grid-price, .service-grid-item.cancel {
      font-size: 1.5rem;
      font-weight: bold;
    }
  /* End of Service Grid Styles */

  /* Start of Reach out Styles */
  .contact {
    background: var(--secondary-color);
  }

  .contact h2 {
    color: var(--primary-color);
  }

  .contact-info {
    color: white;
  }

  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-info > * {
    flex: 1;
    margin: 15px;
  }

  .contact-info p, .contact-info address {
    font-size: 16px;
  }

  .contact-info a {
    color:var(--primary-color);
  }

  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    
  }

  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(252, 225, 225, .8);
    outline: none;
  }

  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 15px;
  }

  .contact-form button:hover {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 15px;
  }
  /* End of Reach Out Styles */

  /* Start of Footer Styles */
  footer {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;  
    justify-content: space-between;
    flex: wrap;
  }

  footer h2 {
      color: var(--primary-color);
      font-size: 30px;
      margin: 0;
  }

  footer div {
      Color: var(--primary-color);
      line-height: 1.5;
      text-align: right;
  }

  footer a {
      color: var(--primary-color);
  }
/* End of Reach out Styles */

/* Utility Classes */
.flex-row {
  display: flex;
}

/* Media Query for Small Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
  
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width:100%;
    text-align: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, fooder div {
    text-align: center;
    width:100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%
  }

  .trainer {
    flex: 0 70%;
  }

  .contact-info iframe {
    flex: 1 100%;
  }

}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex:1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;
  }
}

/* Media Query for Moble and Smaller */
@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%;
  }
  
  .section-title { 
    width: 95%;
  }

.intro p {
  width: 100%;
  }

.trainer {
  flex: 0 100%;
  }

.contact-info {
  text-align: center;
  }

.contact-info > * {
  flex: 1 100%;
  }

.contact-form {
  order: 3;
  }
}

@media screen and (max-width: 768px) {

  .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service-grid-item.basic {
    grid-column: 1;
  }

  .service-grid-item.both {
    grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
    transform: none;
    writing-mode: unset;
    grid-column: 1 / -1;
      grid-row: -1;
  }

  .sevice-grid-item.basic {
    grid-column: 1;
  }
  .service-grid-item.both {
    grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
    transform: none;
    writing-mode: unset;
    grid-column: 1 / -1;
    grid-row: -1;
  }
}
/* Adding relative positioning for mobile header */
@media screen and (max-with: 980px) {
  header {
    position:relative;
  }
}
     